<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kitchen.mapper.FavoriteMapper">

	<!-- 이거에 접근할 때 namespace.id 로 접근한다. -->
	<!-- resultType은 자바의 타입과 매핑되는 것이 있다. 여기선 string이 java.lang.String과 매핑 -->
	
	<insert id="insert" parameterType="com.kitchen.model.Favorite" useGeneratedKeys="true"   
  keyProperty="favorite_id">
		insert into favorite(recipe_id, product_id, created)
		values( #{recipe_id} , #{product_id}, now() );
	</insert>

	<select id="getData" resultType="com.kitchen.model.Favorite">
		select *
		from favorite
		where favorite_id = #{favorite_id};
	</select>
	
	<select id="getList" resultType="com.kitchen.model.Favorite">
		select *
		from favorite;
	</select>
	
	<delete id="delete" parameterType="int">
		delete from favorite where recipe_id=#{recipe_id} and product_id=#{product_id};
	</delete>
	
</mapper>